/*Main CSS for Project One */

/* ------ General Rules -------- */

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "X", sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: black;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    text-justify: inter-word;
    margin: 10px;
}

li {
    text-align: justify;
    text-justify: inter-word;
}

.uppercase {
    text-transform: uppercase;
}

.centre {
    text-align: center;
}

.bold {
    font-weight: 700;
}

/* ------ Header Styles & Menu Link Styles -------- */

#headerid {
    position: relative;
    width: 100%;
    text-align: center;
    color: black;
    background-color: #C1DBDA;
    padding: 0;
}

/* css Style classes ready (apply to all pages) */


/* ------ Main Page Content -------- */

#onlinedangers {
  text-align: center;  
}

#videocontentsafeonline {
    text-align: center;
}

/* ------ Best Practice Page Styles --*/

.bestlist {
    margin: 10px;
    padding: 10px;
    background-color: #e1fbfa;
}

.bestlist li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bestlist ul {
    margin: 10px;
}

/* ------ Footer Styles -------- */

#footerid {
    text-align: center;
    color: #1d3557;
    background-color: #C1DBDA;
}

/* -- Social Link Styles (edited from original at Code Institute "Love Rosie" project) -- */

.social-links {
    padding-bottom: 15px;
    margin: auto;
}

.social-links li a i {
    width: 24px;
    height: 24px;
    padding: 8px 0;
    border-radius: 20%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fff;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.social-links li a i:hover {
    background: orange;
}


/ * Media queries */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

/* remove the logo on screens below 768px width */
 @media (max-width: 768px){
    .codeteersimagelogo {
      display: none;
    }
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
